R==3.3.1
cluster==2.0.5
dplyr==0.4.3
fastknn==0.9.0
ggplot2==2.2.1
h2o==3.14.0.2
hrbrthemes==0.4.0
knitr==1.17
lubridate==1.5.6
magrittr==1.5
Matrix==1.2-7.1
matrixStats==0.14.0
plotly==4.7.1
purrr==0.2.2
readr==1.0.0
reshape2==1.4.2
rmarkdown==1.6
Rtsne==0.13
stats==3.3.1
tidyr==0.5.1
