R==3.3.1
dbscan==1.1-1
dplyr==0.4.3
fastknn==0.9.0
ggplot2==2.2.1
gridExtra==2.2.1
h2o==3.14.0.2
hrbrthemes==0.4.0
htmltools==0.3.6
knitr==1.17
magrittr==1.5
MASS==7.3-45
matrixStats==0.14.0
plotly==4.7.1
purrr==0.2.2
reshape2==1.4.2
rmarkdown==1.6
Rtsne==0.13
tidyr==0.5.1
